.vrc0 {
    justify-content: center;
    align-items: center;
    /* margin-left: 35%;
    margin-right: 35%; */
    width: auto;
    height: 1890px;
    border: 8px solid rgb(247, 247, 247);
    text-align: center;
    border-radius: 5%;
    background-color: rgb(236, 236, 236);

}

/* .button-r {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 70px;
    border-radius: 50%;
    border: 4px solid grey;
    width: 80px;
    margin-top: 10%;
    margin-left: 40%;
    background-color: rgb(240, 180, 89);
} */
img{
    height: 150px;
    width: 120;
    padding: 10px;
}
.scroll{
    margin:4px, 4px;
    padding:4px;
    /* background-color: green; */
    width: 750px;
    height: 350px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* overflow-y: auto; */
    /* text-align:justify; */
}
.scroll::-webkit-scrollbar {
    display: none;
}
.button-ro  {
    font-weight:lighter;
    font-size: 70px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 150px;
    border-radius: 50%;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 150px;
    margin-top: 10%;
    color: rgb(148, 155, 155);
  
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    /* box-shadow:
        inset 0 0 50px #fff,
      
        inset 20px 0 80px rgb(255, 255, 255), */
  /* inner white */
        /* outer right cyan */
}
.button-ro i {
    font-weight:100;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 120px;
    border-radius: 50%;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 120px;
    margin-top: 25%;
    -webkit-text-stroke: 5px white;
    color: rgb(148, 155, 155);
  
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    /* box-shadow:
        inset 0 0 50px #fff,
        
        inset 20px 0 80px rgb(255, 255, 255), */
/* inner white */
        /* outer right cyan */
}
.button-rp a a{
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 250px;
    border-radius: 999em;
    border: 10px solid rgb(255, 255, 255);
    width: 150px;
    margin-top: 10%;
    color: rgb(148, 155, 155);
  padding: 20px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    box-shadow:
        inset 0 0 50px #fff,
        /* inner white */
        inset 20px 0 80px rgb(255, 255, 255),

        /* outer right cyan */
}
.button-r  {
    font-weight:lighter;
    font-size: 70px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
    margin-top: 10%;
    color: rgb(148, 155, 155);
  
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    box-shadow:
        inset 0 0 50px #fff,
        /* inner white */
        inset 20px 0 80px rgb(255, 255, 255),

        /* outer right cyan */
}
.button-rx  {
    font-weight:lighter;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 165px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    margin-top: 4%;
    /* margin-left: -10px;  */
    /* margin-right: 30px; */
    color: rgb(148, 155, 155);
  
    background-color: rgb(236, 236, 236);
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    box-shadow:
        inset 0 0 50px #fff,
        /* inner white */
        inset 20px 0 80px rgb(255, 255, 255),

        /* outer right cyan */
}
.button-rx i{
    color: rgb(148, 155, 155);
    margin-top: 35%;
    font-size: 50px;
    font-weight:lighter;
    /**/
    -webkit-text-stroke: 3px  rgb(236, 236, 236);
}
.button-r i {
    font-weight:100;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 120px;
    border-radius: 50%;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 120px;
    margin-top: 28%;
    -webkit-text-stroke: 3px white;
    color: rgb(148, 155, 155);
  
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    box-shadow:
        inset 0 0 50px #fff,
        /* inner white */
        inset 20px 0 80px rgb(255, 255, 255),

        /* outer right cyan */
}

.button-r1 i {
    box-shadow:
        inset 0 0 50px #fff,
        /* inner white */
        inset 20px 0 80px rgb(255, 255, 255);

    /* outer right cyan */
    /* box-shadow: 2px 3px 3px 3px rgb(173, 173, 173); */
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 150px;
    border-radius: 50%;
    /* border: 4px solid rgb(200, 200, 200); */
    border: 1px solid rgb(246, 246, 246);
    width: 150px;
    margin-top: 10%;
    font-weight: bolder;
    color: rgb(148, 155, 155);
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    -webkit-text-stroke: 5px white;
}

/* a {
    text-decoration: none;
    font-size: large;
    accent-color: rgb(240, 180, 89);
    marker: none;
    padding: 5px;
} */
.vrc3 {
    border: 10px solid rgb(250, 250, 250);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: 210px;
    margin-top: 200px;
    margin-bottom: 210px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 3px 3px 28px rgb(224, 222, 222); */



}

.vrc4 {
    display: flex;
   margin-left: -10px;
    margin-bottom: -15px;
    margin-top: -45px;



}

.vrc4 .button-ro {
    margin-right: 15px;
    margin-left: 30px;
}
.vrc4 .button-rx {
    margin-right: 0px;
    margin-left: 10px;
}

/* .vrc4 i:hover {

    background-color: rgb(237, 237, 237);
} */

/* button :hover {
    background-color: rgb(237, 237, 237);
} */

.vrc2 {
    height: 120px;
    align-items: center;
    text-align: center;
    /* border: 5px dotted black; */
    font-size: 100px;
    margin-top: 100px;
}

.head-btn {
    display: flex;
    margin-left: 90px;
    margin-top: 40px;

}



.brightness {
    display: grid;
    /* background-color: rgb(236, 236, 236); */
    height: 130px;
    width: 220px;
    margin-left: 370px;
    margin-top: -200px;
    box-shadow: none;
}
.brightness .button1  {
    height: 250px;
    width: 150px;
    border-top-left-radius: 999em;
    border: 2px solid rgb(254, 254, 254);
    /* border-right: none; */
    background-color: #fff;
    border-top-right-radius: 999em;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-size: 60px;
    color: rgb(148, 155, 155);
}
.brightness .button1 i {
    height: 240px;
    width: 100px;
    border-top-left-radius: 999em;
    /* border: 2px solid rgb(254, 254, 254); */
    /* border-right: none; */
    background-color: #fff;
    border-top-right-radius: 999em;
    margin-top: 25px;
    padding-top: 60px;
    font-weight: bold;
    font-size: 80px;
    color: rgb(148, 155, 155);
    /* -webkit-text-stroke: 2px white; */
}

.brightness .button2  {
    height: 250px;
    width: 150px;
    border-bottom-right-radius: 999em;
    border: 2px solid rgb(254, 254, 254);
    /* border-left: none; */
    background-color: #fff;
    border-bottom-left-radius: 999em;
    font-weight: bold;
    font-size: 80px;
    color:rgb(148, 155, 155);
    -webkit-text-stroke: 2px white;
}
.brightness .button2 i {
    height: 100px;
    width: 100px;
    border-bottom-left-radius: 999em;
    /* border: 2px solid rgb(254, 254, 254); */
    /* border-left: none; */
    background-color: #fff;
    border-bottom-right-radius: 999em;
    margin-top: 85px;
    font-weight: bolder;
    font-size: 65px;
    color: rgb(148, 155, 155);
    -webkit-text-stroke: 5px white;
}
.lower{
    height: 500px;
    width: 100%;
    display: flex;
    /* top: 600px; */
    /* background-color: blue; */
}
.volume {
    display: grid;
    /* background-color: rgb(236, 236, 236); */
    height: 130px;
    width: 220px;
    margin-left: 100px;
    margin-top: -200px;
    box-shadow: none;
}

.volume .volume1  {
    height: 250px;
    width: 150px;
    border-top-left-radius: 999em;
    border: 2px solid rgb(254, 254, 254);
    /* border-right: none; */
    background-color: #fff;
    border-top-right-radius: 999em;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-size: 80px;
    color: rgb(148, 155, 155);
}
.volume .volume1 i {
    height: 240px;
    width: 100px;
    border-top-left-radius: 999em;
    /* border: 2px solid rgb(254, 254, 254); */
    /* border-right: none; */
    background-color: #fff;
    border-top-right-radius: 999em;
    margin-top: 25px;
    padding-top: 60px;
    font-weight: bold;
    font-size: 80px;
    color: rgb(148, 155, 155);
    -webkit-text-stroke: 2px white;
}

.volume .volume2  {
    height: 250px;
    width: 150px;
    border-bottom-right-radius: 999em;
    border: 2px solid rgb(254, 254, 254);
    /* border-left: none; */
    background-color: #fff;
    border-bottom-left-radius: 999em;
    font-weight: bold;
    font-size: 80px;
    color:rgb(148, 155, 155);
    -webkit-text-stroke: 5px white;
}
.volume .volume2 i {
    height: 100px;
    width: 100px;
    border-bottom-left-radius: 999em;
    /* border: 2px solid rgb(254, 254, 254); */
    /* border-left: none; */
    background-color: #fff;
    border-bottom-right-radius: 999em;
    margin-top: 85px;
    font-weight: bold;
    font-size: 80px;
    color: rgb(148, 155, 155);
    -webkit-text-stroke: 5px white;
}